.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(45deg,#e5ebee,#ffffff,#d2d8e1);
    padding: 1px 40px;
}
.menu {
    display: flex;
    gap: 30px;
    cursor: pointer;
  }
  
  .menulist {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    transition: color 0.3s ease;
  }
  
  .menulist:hover,
  .menulist.active {
    color: rgb(136, 0, 248);
  }
  
  .nav-connect {
    color: white;
    font-size: 18px;
  }


.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(45deg,#82b1ff,#ff4081);
    font-size: 20px;
    cursor: pointer;
}
.nav-image {
    width: 150px; /* Adjust size as needed */
    height: 100px;
    border-radius: 30px;
    animation: zoomIn 1s ease-out;
  }