*{
  margin: o;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(45deg,#ffffff,#ffffff);
  color: white;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,#d2dfd1,#e9d4db); /* Dark background for the whole app */
  color: #ffffff; /* White text color */
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  color: #ff4081; /* Pink color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

